.mainField {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin: 50px;
}

.inputFields, .responseField, .instanceInputs, .getButtons, .sendMessage, .sendFile {
  display: flex;
  flex-direction: column;
}

.inputFields, .responseField {
  justify-content: space-around;
}

.instanceInputs, .getButtons, .sendMessage, .sendFile {
  row-gap: 10px;
}


